<h1>EMPLOYEE OF THE MONTH</h1>

<h3>First Name: <%= @eom.first_name %></h3>
<h3> Last Name:<%= @eom.last_name %></h3>
<h3> Email:<%= @eom.email %></h3>
<h3> Salary:<%= @eom.salary %></h3>
<h3>Phone number: <%= @eom.phone_number %></h3>
<h3> Gender: <%= @eom.gender %></h3>


